# ======================================================================
# TEMPLATE FOR FASTRAN-EPED coupling

# ======================================================================
# USER DATA SECTION
# ======================================================================

USER_W3_DIR = 
USER_W3_BASEURL = 
USER = somebody

# ======================================================================
# SIMULATION INFO SECTION
# ======================================================================

RUN_ID = fastran
TOKAMAK_ID = iter
SHOT_NUMBER = 200301
TIME_ID = 1

SIM_NAME = ${RUN_ID}_${SHOT_NUMBER}

OUTPUT_PREFIX = 
LOG_FILE = ${RUN_ID}.log
LOG_LEVEL = DEBUG

WORK_DIR = ${PWD} 
SIM_ROOT = ${WORK_DIR}/run01
INPUT_DIR_FASTRAN = ${WORK_DIR}/input
INPUT_DIR_SIM = ${WORK_DIR}/input

RUN_COMMENT = iter core-edge
TAG = example

SIMULATION_MODE = NORMAL
RESTART_TIME =
RESTART_ROOT = $SIM_ROOT

EPED_TEMPLATE_DIR = ${EPED_ROOT}/model

# ======================================================================
# PLASMA STATE SECTION
# ======================================================================

PLASMA_STATE_WORK_DIR = $SIM_ROOT/work/plasma_state

CURRENT_STATE = ${SIM_NAME}_ps.nc
CURRENT_EQDSK = ${SIM_NAME}_ps.geq
CURRENT_INSTATE = ${SIM_NAME}_ps.instate
CURRENT_FASTRAN = ${SIM_NAME}_fastran.nc
CURRENT_BC = ${SIM_NAME}_ps.bc
EPED_STATE = ${SIM_NAME}_eped_state.nc

PLASMA_STATE_FILES = $CURRENT_STATE $CURRENT_EQDSK $CURRENT_BC $EPED_STATE 

# ======================================================================
# PORTS SECTION
# ======================================================================

[PORTS]

    NAMES = INIT DRIVER EQ TR NB EC IC EPED_EQ EPED_PB

    # Required ports - DRIVER and INIT   

    [[DRIVER]]
        IMPLEMENTATION = fastran_eped_driver

    [[INIT]]
        IMPLEMENTATION = fastran_eped_init
      
    # Physics ports

    [[TR]]
        IMPLEMENTATION = fastran_solver

    [[EQ]]
        IMPLEMENTATION = esc

    [[EC]]
        IMPLEMENTATION = toray

    [[IC]]
        IMPLEMENTATION = curray 

    [[NB]]
        IMPLEMENTATION = nubeam 

    [[EPED_EQ]]
        IMPLEMENTATION = eped_toq

    [[EPED_KB]]
        IMPLEMENTATION = eped_baloo

    [[EPED_PB]]
        IMPLEMENTATION = eped_elite

    # Monitor ports
   
    [[MONITOR]]
        IMPLEMENTATION = monitor_comp 

# ======================================================================
# COMPONENT CONFIGURATION SECTION
# ======================================================================

[fastran_eped_init]
    CLASS = fastran
    SUB_CLASS = 
    NAME = fastran_eped_init
    NPROC = 1
    BIN_PATH = $FASTRAN_ROOT/bin
    BIN_PSTOOL = pstool
        INPUT_DIR = $INPUT_DIR_SIM
        INPUT_FILES = instate innubeam
        INPUT_ID = 
        OUTPUT_FILES = 
        RESTART_FILES = 
    SCRIPT = $FASTRAN_ROOT/dev/fastran_eped_init.py
    NMODES = 5 6 8 10 15 20 30
    WIDTHS = 3 4 5 7 9
    TEPED_BOUND = 0.45 2.20 0.02

[fastran_eped_driver]
    CLASS = fastran
    SUB_CLASS = 
    NAME = fastran_eped_driver
    NPROC = 1
    BIN_PATH = $FASTRAN_ROOT/bin
    SCRIPT = $FASTRAN_ROOT/dev/fastran_eped_driver.py
    INPUT_DIR = $INPUT_DIR_SIM
    INPUT_FILES = instate
    OUTPUT_FILES = 
    RESTART_FILES = 

[esc]
    CLASS = fastran
    SUB_CLASS = eq
    NAME = esc
    NPROC = 1
    BIN_PATH = $FASTRAN_ROOT/bin
    BIN = xesc
        INPUT_DIR = $INPUT_DIR_SIM
        INPUT_FILES =
        OUTPUT_FILES = geqdsk xesc.log
        RESTART_FILES =
    SCRIPT = $FASTRAN_ROOT/dev/esc.py
    INIT_RUN = 1

[fastran_solver]
    CLASS = fastran
    SUB_CLASS = tr
    NAME = fastran_solver
    NPROC = 105 #21
    NPROC_KY = 21
    BIN_PATH = $FASTRAN_ROOT/bin
    BIN = xfastran
        INPUT_DIR = $INPUT_DIR_SIM
        INPUT_FILES = infastran intglf
        OUTPUT_FILES = fastran.nc inprof inmetric infastran intglf xfastran.log
        RESTART_FILES = 
    SCRIPT = $FASTRAN_ROOT/src/fastran_solver.py

[efit]
    CLASS = fastran
    SUB_CLASS = eq
    NAME = efit
    NPROC = 1
    RESTART = 0
    NITER = 5
    BIN_PATH = $FASTRAN_ROOT/bin
    BIN = efitd90 129 129
        INPUT_DIR = $INPUT_DIR_SIM
        INPUT_FILES = 
        OUTPUT_FILES = g*.* a*.* m*.* k*.* efit.log
        RESTART_FILES = 
    SCRIPT = $FASTRAN_ROOT/src/efit.py

[nubeam]
    CLASS = fastran
    SUB_CLASS = nb
    NAME = nubeam
    NPROC = 48
    BIN_PATH = $FASTRAN_ROOT/bin
    BIN = mpi_nubeam_comp_exec 
    PREACT = $DATA_ROOT/nubeam/PREACT
    ADAS = $DATA_ROOT/nubeam/ADAS
        INPUT_DIR = $INPUT_DIR_SIM
        INPUT_FILES = innubeam
        OUTPUT_FILES = log.nubeam #log.update_state state_changes.cdf
        RESTART_FILES = *.cdf *.dat nubeam_comp_exec.RUNID
    SCRIPT = $FASTRAN_ROOT/src/nubeam.py

[toray]
    CLASS = fastran
    SUB_CLASS = ec
    NAME = toray
    NPROC = 1
    BIN_PATH = $FASTRAN_ROOT/bin
    BIN = xtoray
        INPUT_DIR = $INPUT_DIR_SIM
        INPUT_FILES = intoray
        OUTPUT_FILES = toray.nc outtoray xtoray.log
        RESTART_FILES = 
    SCRIPT = $FASTRAN_ROOT/src/toray.py

[genray]
    CLASS = fastran
    SUB_CLASS = ic
    NAME = genray
    NPROC = 1
    BIN_PATH = /project/projectdirs/m876/phys-bin/phys/genray/bin 
    BIN = xgenray
        INPUT_DIR = $INPUT_DIR_SIM
        INPUT_FILES = ingenray
        OUTPUT_FILES = genray.nc xgenray.log
        RESTART_FILES = 
    SCRIPT = $FASTRAN_ROOT/src/genray.py

[curray]
    CLASS = fastran
    SUB_CLASS = ic
    NAME = curray
    NPROC = 1
    BIN_PATH = $FASTRAN_ROOT/bin
    BIN = xcurray
        INPUT_DIR = $INPUT_DIR_SIM
        INPUT_FILES = incurray
        OUTPUT_FILES = outcurray xcurray.log
        RESTART_FILES =
    SCRIPT = $FASTRAN_ROOT/src/curray.py

[eped_toq]
    CLASS = pedestal
    SUB_CLASS = 
    NAME = eped_toq
    NPROC = 100
    BIN_PATH = $EPED_ROOT/bin
    BIN = toq.x
    INPUT_DIR = $EPED_TEMPLATE_DIR
    INPUT_FILES = intoq.eped1
    OUTPUT_FILES = 
    RESTART_FILES = 
    SCRIPT = $EPED_ROOT/src/eped_toq.py
    RUN_PARALLEL = $EPED_ROOT/bin/run_parallel.exe
    TIME_OUT = 2000 
    CLEAN_AFTER = 1

[eped_baloo]
    CLASS = pedestal
    SUB_CLASS = 
    NAME = eped_baloo
    NPROC = 100
    BIN_PATH = $EPED_ROOT/bin
    BIN = baloo.x
    INPUT_DIR = $EPED_TEMPLATE_DIR
    INPUT_FILES = inbal.wid5
    OUTPUT_FILES = 
    RESTART_FILES = 
    SCRIPT = $EPED_ROOT/src/eped_baloo.py
    RUN_PARALLEL = $EPED_ROOT/bin/run_parallel.exe
    TIME_OUT = 2000 
    CLEAN_AFTER = 1

[eped_elite]
    CLASS = pedestal
    SUB_CLASS = 
    NAME = eped_elite
    NPROC = 120
    BIN_PATH = $EPED_ROOT/bin
    BIN = elite.x
    INPUT_DIR = $EPED_TEMPLATE_DIR
    INPUT_FILES = eped1.in
    OUTPUT_FILES = 
    RESTART_FILES = 
    SCRIPT = $EPED_ROOT/src/eped_elite.py
    RUN_PARALLEL = $EPED_ROOT/bin/run_parallel.exe
    TIME_OUT = 2000 
    CLEAN_AFTER = 1

[harvest_comp]
    CLASS = harvest
    SUB_CLASS = 
    NAME = harvest_comp
    NPROC = 1
    BIN_PATH = $EPED_ROOT/bin
    BIN = 
    INPUT_DIR = $INPUT_DIR_SIM
    INPUT_FILES = 
    OUTPUT_FILES = 
    RESTART_FILES = 
    SCRIPT = $EPED_ROOT/src/harvest_comp.py

# =============================================================================
# ITERATION SECTION
# =============================================================================

[ITERATION_LOOP]
    MODE = REGULAR
    NSTEP = 5 
