# ======================================================================
# EPED

# ======================================================================
# USER DATA SECTION
# ======================================================================

USER_W3_DIR = /project/projectdirs/atom/www/diemsj
USER_W3_BASEURL = http://portal.nersc.gov/project/atom/diemsj
USER = diemsj

# ======================================================================
# SIMULATION INFO SECTION
# ======================================================================

RUN_ID = verification
TOKAMAK_ID = d3d

SIM_NAME = ${RUN_ID}

OUTPUT_PREFIX = 
LOG_FILE = ${RUN_ID}.log
LOG_LEVEL = DEBUG

WORK_DIR = ${PWD}

INPUT_DIR_SIM = ${WORK_DIR}
SIM_ROOT = ${WORK_DIR}/run01
EPED_TEMPLATE_DIR = ${EPED_ROOT}/model

RUN_COMMENT = eped validation
TAG = test

SIMULATION_MODE = NORMAL
RESTART_ROOT = $SIM_ROOT

# ======================================================================
# PLASMA STATE SECTION
# ======================================================================

PLASMA_STATE_WORK_DIR = $SIM_ROOT/work/plasma_state
EPED_STATE = ${SIM_NAME}_eped_state.nc
PLASMA_STATE_FILES = $EPED_STATE

# ======================================================================
# PORTS SECTION
# ======================================================================

[PORTS]

    NAMES = INIT DRIVER EQ PB MONITOR #KB

    # Required ports - DRIVER and INIT   

    [[INIT]]
        IMPLEMENTATION = eped_init

    [[DRIVER]]
        IMPLEMENTATION = eped_driver

    # Physics ports

    [[EQ]]
        IMPLEMENTATION = eped_toq

    [[KB]]
        IMPLEMENTATION = eped_baloo

    [[PB]]
        IMPLEMENTATION = eped_elite

    # Monitor ports
   
    [[MONITOR]]
        IMPLEMENTATION = harvest_comp

# ======================================================================
# COMPONENT CONFIGURATION SECTION
# ======================================================================

[eped_init]
    CLASS = pedestal
    SUB_CLASS = 
    NAME = eped_init
    NPROC = 1
    BIN_PATH = $EPED_ROOT/bin
    BIN = 
    INPUT_DIR = $INPUT_DIR_SIM
    INPUT_FILES = 
    OUTPUT_FILES = 
    RESTART_FILES = 
    SCRIPT = $EPED_ROOT/src/eped_init.py

[eped_driver]
    CLASS = pedestal
    SUB_CLASS = 
    NAME = eped_driver
    NPROC = 1
    BIN_PATH = $EPED_ROOT/bin
    INPUT_DIR = $INPUT_DIR_SIM
    NMODES = 5 6 8 10 15 20 30
    WIDTHS = 3 4 5 7 9
    TEPED_BOUND = 0.45 2.20 0.02
    INPUT_FILES = eped.input
    INPUT_FORMAT = NAMELIST 
    OUTPUT_FILES = $EPED_STATE 
    RESTART_FILES = 
    SCRIPT = $EPED_ROOT/src/eped_driver.py

[eped_toq]
    CLASS = pedestal
    SUB_CLASS = 
    NAME = eped_toq
    NPROC = 100
    BIN_PATH = $EPED_ROOT/bin
    BIN = toq.x
    INPUT_DIR = $EPED_TEMPLATE_DIR
    INPUT_FILES = intoq.eped1
    OUTPUT_FILES = 
    RESTART_FILES = 
    SCRIPT = $EPED_ROOT/src/eped_toq.py
    RUN_PARALLEL = $EPED_ROOT/bin/run_parallel.exe
    TIME_OUT = 2000 
    CLEAN_AFTER = 0

[eped_baloo]
    CLASS = pedestal
    SUB_CLASS = 
    NAME = eped_baloo
    NPROC = 100
    BIN_PATH = $EPED_ROOT/bin
    BIN = baloo.x
    INPUT_DIR = $EPED_TEMPLATE_DIR
    INPUT_FILES = inbal.wid5
    OUTPUT_FILES = 
    RESTART_FILES = 
    SCRIPT = $EPED_ROOT/src/eped_baloo.py
    RUN_PARALLEL = $EPED_ROOT/bin/run_parallel.exe
    TIME_OUT = 2000 
    CLEAN_AFTER = 0

[eped_elite]
    CLASS = pedestal
    SUB_CLASS = 
    NAME = eped_elite
    NPROC = 120
    BIN_PATH = $EPED_ROOT/bin
    BIN = elite.x
    INPUT_DIR = $EPED_TEMPLATE_DIR
    INPUT_FILES = eped1.in
    OUTPUT_FILES = 
    RESTART_FILES = 
    SCRIPT = $EPED_ROOT/src/eped_elite.py
    RUN_PARALLEL = $EPED_ROOT/bin/run_parallel.exe
    TIME_OUT = 2000 
    CLEAN_AFTER = 0

[harvest_comp]
    CLASS = harvest
    SUB_CLASS = 
    NAME = harvest_comp
    NPROC = 1
    BIN_PATH = $EPED_ROOT/bin
    BIN = 
    INPUT_DIR = $INPUT_DIR_SIM
    INPUT_FILES = 
    OUTPUT_FILES = 
    RESTART_FILES = 
    SCRIPT = $EPED_ROOT/src/harvest_comp.py
