# ======================================================================
# TEMPLATE FOR STEADY-STATE SCENARIO

# ======================================================================
# USER DATA SECTION
# ======================================================================

USER_W3_DIR = /project/projectdirs/atom/www/diemsj
USER_W3_BASEURL = http://portal.nersc.gov/project/atom/diemsj
USER = diemsj

# ======================================================================
# SIMULATION INFO SECTION
# ======================================================================

RUN_ID = fastran
TOKAMAK_ID = ITER
SHOT_NUMBER = 130000

SIM_NAME = ${RUN_ID}_${SHOT_NUMBER}

OUTPUT_PREFIX = 
LOG_FILE = ${RUN_ID}.log
LOG_LEVEL = DEBUG

WORK_DIR = ${PWD}
INPUT_DIR_SIM = ${WORK_DIR}/input
SIM_ROOT = ${WORK_DIR}/run03

RUN_COMMENT = iter steady-state
TAG = example

SIMULATION_MODE = NORMAL
RESTART_TIME =
RESTART_ROOT = $SIM_ROOT

# ======================================================================
# PLASMA STATE SECTION
# ======================================================================

# Where to put plasma state files as the simulation evolves
PLASMA_STATE_WORK_DIR = $SIM_ROOT/work/plasma_state

# Config variables defining simulation specific names for plasma state files
CURRENT_STATE = ${SIM_NAME}_ps.nc
CURRENT_EQDSK = ${SIM_NAME}_ps.geq
CURRENT_INSTATE = ${SIM_NAME}_ps.instate
CURRENT_FASTRAN = ${SIM_NAME}_fastran.nc
CURRENT_BC = ${SIM_NAME}_ps.bc

# List of files that constitute the plasma state
PLASMA_STATE_FILES = $CURRENT_STATE $CURRENT_EQDSK $CURRENT_BC

# ======================================================================
# PORTS SECTION
# ======================================================================

[PORTS]

    NAMES = INIT DRIVER EQ EC IC NB TR MONITOR

    # Required ports - DRIVER and INIT   

    [[DRIVER]]
        IMPLEMENTATION = fastran_driver

    [[INIT]]
        IMPLEMENTATION = fastran_init
      
    # Physics ports

    [[TR]]
        IMPLEMENTATION = fastran_solver

    [[EQ]]
        IMPLEMENTATION = esc # esc or efit

    [[EC]]
        IMPLEMENTATION = toray # toray or genray

    [[IC]]
        IMPLEMENTATION = curray

    [[NB]]
        IMPLEMENTATION = nubeam # nubeam or nubeam_d3d_driver

    # Monitor ports
   
    [[MONITOR]]
        IMPLEMENTATION = monitor_comp 

# ======================================================================
# COMPONENT CONFIGURATION SECTION
# ======================================================================

[fastran_init]
    CLASS = fastran
    SUB_CLASS = init
    NAME = fastran_init
    NPROC = 1
    BIN_PATH = $FASTRAN_ROOT/bin
    BIN = pstool
        INPUT_DIR = $INPUT_DIR_SIM
        INPUT_FILES = instate innubeam
        OUTPUT_FILES = 
        RESTART_FILES = 
    SCRIPT = $FASTRAN_ROOT/src/fastran_init.py

[fastran_driver]
    CLASS = fastran
    SUB_CLASS = driver
    NAME = fastran_driver
    NPROC = 1
    BIN_PATH = $FASTRAN_ROOT/bin
        INPUT_DIR = $INPUT_DIR_SIM
        INPUT_FILES = 
        OUTPUT_FILES = 
        RESTART_FILES = 
    SCRIPT = $FASTRAN_ROOT/src/fastran_driver.py

[fastran_solver]
    CLASS = fastran
    SUB_CLASS = tr
    NAME = fastran_solver
    NPROC = 21
    NPROC_KY = 21
    BIN_PATH = $FASTRAN_ROOT/bin
    BIN = xfastran
        INPUT_DIR = $INPUT_DIR_SIM
        INPUT_FILES = infastran intglf
        OUTPUT_FILES = fastran.nc inprof inmetric infastran intglf xfastran.log
        RESTART_FILES = 
    SCRIPT = $FASTRAN_ROOT/src/fastran_solver.py

[efit]
    CLASS = fastran
    SUB_CLASS = eq
    NAME = efit
    NPROC = 1
    BIN_PATH = $FASTRAN_ROOT/bin
    BIN = efitd90 129 129
        INPUT_DIR = $INPUT_DIR_SIM
        INPUT_FILES = 
        OUTPUT_FILES = g*.* a*.* m*.* k*.* efit.log
        RESTART_FILES = 
    SCRIPT = $FASTRAN_ROOT/src/efit.py

[esc]
    CLASS = fastran
    SUB_CLASS = eq
    NAME = esc
    NPROC = 1
    BIN_PATH = $FASTRAN_ROOT/bin
    BIN = xesc
        INPUT_DIR = $INPUT_DIR_SIM
        INPUT_FILES = 
        OUTPUT_FILES = geqdsk xesc.log
        RESTART_FILES = 
    SCRIPT = $FASTRAN_ROOT/src/esc.py

[nubeam]
    CLASS = fastran
    SUB_CLASS = nb
    NAME = nubeam
    NPROC = 24
    BIN_PATH = $FASTRAN_ROOT/bin
    BIN = $BIN_PATH/mpi_nubeam_comp_exec 
    PREACT = $DATA_ROOT/nubeam/PREACT
    ADAS = $DATA_ROOT/nubeam/ADAS
        INPUT_DIR = $INPUT_DIR_SIM
        INPUT_FILES = innubeam
        OUTPUT_FILES = log.nubeam log.update_state state_changes.cdf
        RESTART_FILES = *.cdf *.dat nubeam_comp_exec.RUNID
    SCRIPT = $FASTRAN_ROOT/src/nubeam.py

[nubeam_d3d_driver]
    CLASS = fastran
    SUB_CLASS = nb
    NAME = nubeam_d3d_driver
    NPROC = 24
    BIN_PATH = $FASTRAN_ROOT/bin
    BIN = mpi_d3d_nubeam_driver
        INPUT_DIR =  $INPUT_DIR_SIM
        INPUT_FILES = innubeam
        OUTPUT_FILES = dnubeam_out.dat cur_state.cdf
        RESTART_FILES=
    SCRIPT = $FASTRAN_ROOT/src/nubeam_d3d_driver.py

[toray]
    CLASS = fastran
    SUB_CLASS = ec
    NAME = toray
    NPROC = 1
    BIN_PATH = $FASTRAN_ROOT/bin
    BIN = xtoray
        INPUT_DIR = $INPUT_DIR_SIM
        INPUT_FILES = intoray
        OUTPUT_FILES = toray.nc outtoray xtoray.log
        RESTART_FILES = 
    SCRIPT = $FASTRAN_ROOT/src/toray.py

[curray]
    CLASS = fastran
    SUB_CLASS = ic
    NAME = curray
    NPROC = 1
    BIN_PATH = $FASTRAN_ROOT/bin
    BIN = xcurray
        INPUT_DIR = $INPUT_DIR_SIM
        INPUT_FILES = incurray
        OUTPUT_FILES = outcurray xcurray.log
        RESTART_FILES =
    SCRIPT = $FASTRAN_ROOT/src/curray.py

[genray]
    CLASS = fastran
    SUB_CLASS = ec 
    NAME = genray
    NPROC = 1
    BIN_PATH = /project/projectdirs/m876/phys-bin/phys/genray/bin
    BIN = xgenray
        INPUT_DIR = $INPUT_DIR_SIM
        INPUT_FILES = ingenray
        OUTPUT_FILES = genray.nc xgenray.log
        RESTART_FILES = 
    SCRIPT = $FASTRAN_ROOT/src/genray.py

[monitor_comp]
    CLASS = monitor
    SUB_CLASS =
    NAME = monitor
    NPROC = 1
    W3_DIR = $USER_W3_DIR
    W3_BASEURL = $USER_W3_BASEURL
    BIN_PATH = $IPS_ROOT_SWIM/bin
    INPUT_DIR = $IPS_ROOT_SWIM/components/monitor/monitor_4
    TEMPLATE_FILE= basic_time_traces.xml
    INPUT_FILES = basic_time_traces.xml
    OUTPUT_FILES = monitor_file.nc $CURRENT_STATE
    PLASMA_STATE_FILES = $CURRENT_STATE
    RESTART_FILES = $INPUT_FILES monitor_restart monitor_file.nc
    SCRIPT = $BIN_PATH/monitor_comp_5.py

# =============================================================================
# TIMELOOP SECTION
# =============================================================================

[TIME_LOOP]
    MODE = REGULAR
    NSTEP = 5 
