# ======================================================================
# PLATFORM OVERRIDE SECTION
# ======================================================================

# HOST =
# MPIRUN =
# PHYS_BIN_ROOT =
# DATA_TREE_ROOT =

# ======================================================================
# USER DATA SECTION
# ======================================================================

USER_W3_DIR = $PWD/www
USER_W3_BASEURL =
USER = Batchelor       		# Optional, if missing the unix username is used

# ======================================================================
# ROOT LOCATION
# ======================================================================

IPS_ROOT = $IPS_PATH
IPS_COMPONENTS_ROOT = $IPS_WRAPPER_PATH
# ======================================================================
# SIMULATION INFO SECTION
# ======================================================================

RUN_ID = TORIC_basic_example
RUN_COMMENT = TORIC_basic_example only - 24 cores
TOKAMAK_ID = ITER
SHOT_NUMBER = 12345

SIM_NAME = $RUN_ID

OUTPUT_PREFIX =
LOG_FILE = log.warning
LOG_LEVEL = WARNING

SIM_ROOT = $PWD
SIM_INPUT_DIR= $PWD/_inputs

SIMULATION_MODE = NORMAL # NORMAL or RESTART
#SIMULATION_MODE = RESTART # NORMAL or RESTART
RESTART_TIME = 100.0 # Float or LATEST
RESTART_ROOT = $SIM_ROOT

# ======================================================================
# PLASMA STATE SECTION
# ======================================================================

# Where to put plasma state files as the simulation evolves
PLASMA_STATE_WORK_DIR = $SIM_ROOT/work/plasma_state
ARCHIVE_STATE_ON_OUTPUT = TRUE

# Config variables defining simulation specific names for plasma state files
CURRENT_STATE =

# List of files that constitute the plasma state
PLASMA_STATE_FILES =
# ======================================================================
# PORTS SECTION
# ======================================================================

[PORTS]

    NAMES = DRIVER RF_IC

    # Required ports - DRIVER

    [[INIT]]
        IMPLEMENTATION = basic_init

    [[DRIVER]]
        IMPLEMENTATION = basic_driver

    # Physics ports

    [[RF_IC]]
        IMPLEMENTATION = rf_toric

# ======================================================================
# COMPONENT CONFIGURATION SECTION
# ======================================================================

[basic_init]
# Machine dependent config info
    BIN_PATH = $IPS_COMPONENTS_ROOT
    SCRIPT = $BIN_PATH/basic_init.py
# Static config info
    CLASS = init
    SUB_CLASS =
    NAME = basic_init
    NPROC = 1
    INIT_HELPER_CODE =
    INPUT_FILES =
    OUTPUT_FILES =
    RESTART_FILES =
    PLASMA_STATE_FILES =

 [basic_driver]
# Machine dependent config info
    BIN_PATH = $IPS_COMPONENTS_ROOT/generic-drivers
    SCRIPT = $BIN_PATH/basic_driver.py
# Static config info
    CLASS = driver
    SUB_CLASS =
    NAME = basic_driver
    NPROC = 1
    INPUT_FILES =
    OUTPUT_FILES =
    RESTART_FILES =
    PLASMA_STATE_FILES =

[rf_toric]
# Machine dependent config info
    BIN_PATH = $IPS_COMPONENTS_ROOT/ips-toric
    EXECUTABLE = $TORIC_EXEC
    SCRIPT = $BIN_PATH/TORIC_basic_component.py
# Static config info
    CLASS = rf
    SUB_CLASS = ic
    NAME = TORIC_basic 
    NPROC = 24
    INPUT_DIR =  $SIM_INPUT_DIR/toric_input
    INPUT_FILES = * 
    OUTPUT_FILES = *
    PLASMA_STATE_FILES =
    RESTART_FILES =

# =============================================================================
# TIMELOOP SECTION
# =============================================================================

[TIME_LOOP]
    MODE = REGULAR
    START = 100. # Float or $RESTART_TIME
    FINISH = 101. # 3.5 # Float or $RESTART_TIME + float
    NSTEP = 1

# =============================================================================
# CHECKPOINT SECTION
# =============================================================================

[CHECKPOINT]
   MODE = PHYSTIME_REGULAR
   PHYSTIME_INTERVAL = 1.0
   NUM_CHECKPOINT = -1
   PROTECT_FREQUENCY = 5
