# AToM paths for Cori
######################

export ATOM=/project/projectdirs/atom
export ATOM_CORI=$ATOM/atom-install-cori

#####################################################################
# IPS paths (until atom-install-cori settles down this points to u2115)
#####################################################################

export IPS_DIR=/project/projectdirs/atom/users/u2115
export IPS_PATH=$IPS_DIR/ips-framework
export IPS_WRAPPER_PATH=$IPS_DIR/ips-wrappers

#########################
# Add the IPS to the PATH
#########################

export PATH=$IPS_PATH/framework/src:$PATH

#####################
# Python module paths
#####################

# path to ips
export PYTHONPATH=$IPS_PATH/framework/src:$IPS_PATH/framework/utils:$PYTHONPATH

# path to wrapper utilities
export PYTHONPATH=$IPS_WRAPPER_PATH/utilities:$PYTHONPATH

# path to libraries needed by CompX codes
export LD_LIBRARY_PATH=/global/homes/y/ypetrov/pgplot.intel:/opt/intel/compilers_and_libraries_2019.3.199/linux/compiler/lib/intel64:/opt/intel/compilers_and_libraries_2019.3.199/linux/mkl/lib/intel64:$LD_LIBRARY_PATH

##############
# Load modules
##############
module load python
