# ======================================================================
# PLATFORM OVERRIDE SECTION
# ======================================================================

# HOST =
# MPIRUN =
# PHYS_BIN_ROOT =
# DATA_TREE_ROOT =

# ======================================================================
# USER DATA SECTION
# ======================================================================

USER_W3_DIR = $PWD/www 
USER_W3_BASEURL = 

# ======================================================================
# ROOT LOCATION
# ======================================================================

IPS_ROOT = $IPS_PATH
IPS_COMPONENTS_ROOT = $PWD/_exec

# ======================================================================
# SIMULATION INFO SECTION
# ======================================================================

RUN_ID = GENRAY_run_EC
RUN_COMMENT = Basic EC example to run GENRAY from genray.in file

SIM_NAME = $RUN_ID

OUTPUT_PREFIX =
LOG_FILE = log.warning
LOG_LEVEL = WARN  # DEBUG | INFO | WARN | ERROR | CRITICAL

SIM_ROOT = $PWD
SIM_INPUT_DIR= $PWD/_inputs

SIMULATION_MODE = NORMAL # NORMAL or RESTART
RESTART_TIME = LATEST # Float or LATEST
RESTART_ROOT = $SIM_ROOT

# ======================================================================
# PLASMA STATE SECTION
# ======================================================================

# Where to put plasma state files as the simulation evolves
PLASMA_STATE_WORK_DIR = $SIM_ROOT/work/plasma_state
ARCHIVE_STATE_ON_OUTPUT = TRUE

# Config variables defining simulation specific names for plasma state files
CURRENT_STATE = 

# List of files that constitute the plasma state
PLASMA_STATE_FILES = 
# ======================================================================
# PORTS SECTION
# ======================================================================

[PORTS]

    NAMES = DRIVER RF_GENRAY

    # Required ports - DRIVER and INIT

    [[INIT]]
        IMPLEMENTATION = basic_init

    [[DRIVER]]
        IMPLEMENTATION = basic_driver

    [[RF_GENRAY]]
        IMPLEMENTATION = rf_genray


# ======================================================================
# COMPONENT CONFIGURATION SECTION
# ======================================================================

[basic_init]
# Machine dependent config info
    BIN_PATH = $IPS_COMPONENTS_ROOT
    SCRIPT = $BIN_PATH/basic_init.py
# Static config info
    CLASS = init
    SUB_CLASS =
    NAME = basic_init
    NPROC = 1
    INIT_HELPER_CODE = 
    INPUT_FILES =
    OUTPUT_FILES =
    RESTART_FILES = 
    PLASMA_STATE_FILES = 

 [basic_driver]
# Machine dependent config info
    BIN_PATH = $IPS_COMPONENTS_ROOT
    SCRIPT = $BIN_PATH/basic_driver.py
# Static config info
    CLASS = driver
    SUB_CLASS =
    NAME = basic_driver
    NPROC = 1
    INPUT_FILES =
    OUTPUT_FILES =
    RESTART_FILES =
    PLASMA_STATE_FILES =  

[rf_genray]
# Machine dependent config info
    BIN_PATH = $IPS_COMPONENTS_ROOT
    SCRIPT = $BIN_PATH/GENRAY_basic_component.py
    # full path to Bob's latest
    EXECUTABLE = /global/cfs/cdirs/m77/CompX/GENRAY/xgenray_mpi_intel.cori 
# Static config info
    CLASS = rf_genray
    SUB_CLASS =
    NAME = GENRAY_basic
    NPROC = 24 
    INPUT_DIR = $SIM_INPUT_DIR/genray_input
    GENRAYNML = genray.dat_CANONICAL_2004_ITER_TEST_one_ray    # Bob's test 5
    INPUT_FILES = * 
    OUTPUT_FILES = * 
    PLASMA_STATE_FILES = 
    RESTART_FILES = 


# =============================================================================
# TIMELOOP SECTION
# =============================================================================

[TIME_LOOP]
    MODE = REGULAR
    START = 0.   # Float or $RESTART_TIME
    FINISH = 1. # Float or $RESTART_TIME + float
    NSTEP = 1

# =============================================================================
# CHECKPOINT SECTION
# =============================================================================

[CHECKPOINT]
   MODE = ALL
   PHYSTIME_INTERVAL = 0.5
   NUM_CHECKPOINT = -1
   PROTECT_FREQUENCY = 5
