# PLATFORM OVERRIDE SECTION
# ======================================================================

# HOST =
# MPIRUN =
# PHYS_BIN_ROOT =
# DATA_TREE_ROOT =
# PORTAL_URL =
# RUNID_URL  =

# ======================================================================
# USER DATA SECTION
# ======================================================================

USER_W3_DIR = $PWD/www
USER_W3_BASEURL = 
USER = batchelor

# ======================================================================
# ROOT LOCATION
# ======================================================================

IPS_COMPONENTS_ROOT = $IPS_WRAPPER_PATH

# ======================================================================
# SIMULATION INFO SECTION
# ======================================================================

RUN_ID = TORLH_PST
RUN_COMMENT = 255 Mode Toy Problem
TOKAMAK_ID = PST
SHOT_NUMBER = 00000
ENORM = 2500.0
SIM_NAME = torlh_pst

OUTPUT_PREFIX =
LOG_FILE = log.warning
LOG_LEVEL = WARNING

SIM_ROOT = $PWD
SIM_INPUT_DIR= $PWD/_inputs

#SIMULATION_MODE = NORMAL# NORMAL or RESTART
#START_TIME = 0.0

SIMULATION_MODE = NORMAL # NORMAL or RESTART
RESTART_TIME = LATEST  # Float or LATEST
RESTART_ROOT = $SIM_ROOT

# ======================================================================
# STATE SECTION
# ======================================================================

# Where to put plasma state files as the simulation evolves
STATE_WORK_DIR = $SIM_ROOT/work/plasma_state
ARCHIVE_STATE_ON_OUTPUT = TRUE

# Config variables defining simulation specific names for plasma state files
CURRENT_STATE = ips-state.nc
CURRENT_EQDSK = ips-eqdsk.geq
CURRENT_DQL = Dql_wdc.cdf
CURRENT_CQL = cql3d.nc
CURRENT_ImChizz_inp = ImChizz.inp
CURRENT_du0u0_input = du0u0_input

# List of files that constitute the plasma state
STATE_FILES = $CURRENT_STATE $CURRENT_EQDSK $CURRENT_DQL $CURRENT_CQL $CURRENT_ImChizz_inp $CURRENT_du0u0_input
ALL_STATE_FILES = $CURRENT_STATE $CURRENT_EQDSK $CURRENT_DQL $CURRENT_CQL $CURRENT_ImChizz_inp $CURRENT_du0u0_input
# ======================================================================
# PORTS SECTION
# ======================================================================

[PORTS]

    NAMES = INIT DRIVER EPA RF_LH FP

    # Required ports - DRIVER and INIT

    [[INIT]]
        IMPLEMENTATION = generic_ps_init

    [[DRIVER]]
        IMPLEMENTATION = GENERIC_DRIVER

    # Physics ports

   [[EPA]]
        IMPLEMENTATION = model_EPA_mdescr

   [[RF_LH]]
      IMPLEMENTATION = torlh

   [[FP]]
      IMPLEMENTATION = CQL3D

    # MONITOR removed since it causes crash on restart

# ======================================================================
# COMPONENT CONFIGURATION SECTION
# ======================================================================


[generic_ps_init]
    CLASS = generic_ps_init
    SUB_CLASS = dbb
    NAME = generic_ps_init
    NPROC = 1
    INIT_MODE = mdescr
    BIN_PATH = $IPS_COMPONENTS_ROOT/initializers/generic_ps_init
    SCRIPT = $BIN_PATH/generic_ps_init.py
    INPUT_DIR = $SIM_INPUT_DIR/generic_ps_file_init_input
    INPUT_FILES = PST_torlh.mdescr PST_torlh.sconfig eqdsk.dat
    MDESCR_FILE = PST_torlh.mdescr
    SCONFIG_FILE = PST_torlh.sconfig
    INPUT_EQDSK_FILE = eqdsk.dat
    OUTPUT_FILES = $CURRENT_STATE
    RESTART_FILES = $STATE_FILES
    STATE_FILES = $ALL_STATE_FILES

[GENERIC_DRIVER]
    CLASS = drivers
    SUB_CLASS = dbb
    NAME = generic_driver
    NPROC = 1
    INIT_ONLY = FALSE
    BIN_PATH = $IPS_COMPONENTS_ROOT/torlh_cql3d_iterate
    SCRIPT = $BIN_PATH/driver_torlh_cql3d_iterate.py
        INPUT_DIR =
        INPUT_FILES =
        OUTPUT_FILES =
        RESTART_FILES =
        STATE_FILES = $CURRENT_STATE

[model_EPA_mdescr]
    CLASS = epa
    SUB_CLASS = model_epa
    NAME = model_EPA_mdescr
    NPROC = 1
    INIT_ONLY = FALSE
    BIN_PATH = $IPS_COMPONENTS_ROOT/ips-model-epa/
    INPUT_DIR = $SIM_INPUT_DIR/model_EPA_mdescr_input/
        INPUT_FILES = model_EPA_mdescr_input.nml
        STATE_FILES = $CURRENT_STATE $CURRENT_EQDSK
        OUTPUT_FILES = $INPUT_FILES
        RESTART_FILES = $INPUT_FILES
    SCRIPT = $BIN_PATH/model_EPA_mdescr.py
    power_lh_DT_model = ramp_initial_to_final
    power_lh_DT_params = 0.0 5.0 2.5e2


[torlh]
# Machine dependent config info
    BIN_PATH = $IPS_COMPONENTS_ROOT/torlh_cql3d_iterate
    TORLH_BIN = $TORLH_EXEC
    ImChizz_BIN = $imchzz_EXEC
    GEQXPL_BIN = /project/projectdirs/atom/atom-install-edison/binaries/geqxpl/default/geqxpl
    ZERO_LH_POWER_BIN = $IPS_COMPONENTS_ROOT/ips-model-rf/zero_RF_LH_power
    SCRIPT = $BIN_PATH/rf_lh_torlh_iterate.py
# Static config info
    CLASS = rf
    SUB_CLASS = lh
    NAME = torlh
    NPROC = 504
    NPROC_QLDCE = 60
    TORLH_TIME_LIMIT = 14400 #4095 mode run should never take longer than ~1.5hr
    NUM_TORLH_TRIES = 1
    DO_IDL_PLOTS = False
    CQL_COUPLE_MODE = True
    INPUT_DIR = $SIM_INPUT_DIR/torlh_input/
        INPUT_FILES = machine.inp equigs_gen.ind Chizz_interp.inp
        STATE_FILES =  $ALL_STATE_FILES
        OUTPUT_FILES = *
        RESTART_FILES = $INPUT_FILES $STATE_FILES

[CQL3D]
# Machine dependent config info
#    BIN_PATH = $IPS_COMPONENTS_ROOT/torlh_cql3d_iterate
    BIN_PATH = $IPS_COMPONENTS_ROOT/ips-cql3d
    CQL3D_BIN = $CQL3D_EXEC
    SCRIPT = $BIN_PATH/fp_cql3d_feedback_pwrscale.py
# Static config info
    CLASS = fp
    SUB_CLASS =
    NAME = cql3d
    NPROC = 64 #This is so big so that we don't run out of memory
    NPPN = 8
	CQL3D_MODE = el-only
	CQL3D_OUTPUT = LH
	CQL3D_NML = cqlinput_template
	NSTEPS_STR = 1
	DELTAT_STR = 0.001
	PS_ADD_NML = disabled
        INPUT_DIR = $SIM_INPUT_DIR/cql3d_input/
        INPUT_FILES = cqlinput_template grfont.dat ImChizz.inp_template
        STATE_FILES = $ALL_STATE_FILES
        OUTPUT_FILES = *
        RESTART_FILES = $INPUT_FILES $STATE_FILES

# =============================================================================
# TIMELOOP SECTION
# =============================================================================

[TIME_LOOP]
    MODE = REGULAR #DONT CHANGE THIS TO RESTART OR IT WILL BREAK
    START = 0.0 # Float or $RESTART_TIME
    FINISH = $START + 20. # Float or $RESTART_TIME + float
    NSTEP = 20

# =============================================================================
# CHECKPOINT SECTION
# =============================================================================

[CHECKPOINT]
   MODE = PHYSTIME_REGULAR
   PHYSTIME_INTERVAL = 1.0
   NUM_CHECKPOINT = -1
