# ======================================================================
# PLATFORM OVERRIDE SECTION
# ======================================================================

# HOST = 
# MPIRUN = 
# PHYS_BIN_ROOT =  
# DATA_TREE_ROOT =
# PORTAL_URL = 
# RUNID_URL  = 

# ======================================================================
# USER DATA SECTION
# ======================================================================

USER_W3_DIR = $PWD/www
USER_W3_BASEURL = 

# ======================================================================
# ROOT LOCATION
# ======================================================================

IPS_ROOT = $IPS_DIR
IPS_WRAPPER_PATH = $IPS_DIR/ips-atom

# ======================================================================
# SIMULATION INFO SECTION
# ======================================================================

RUN_ID = myRun
RUN_COMMENT = Excellent work 
TOKAMAK_ID = ITER
SHOT_NUMBER = 12345

SIM_NAME = thisSim

OUTPUT_PREFIX = 
LOG_FILE = log.warning
LOG_LEVEL = INFO # DEBUG | INFO | WARN | ERROR | CRITICAL 

SIM_ROOT = $PWD
SIM_INPUT_DIR=  

SIMULATION_MODE = NORMAL # NORMAL or RESTART
RESTART_TIME = LATEST # Float or LATEST
RESTART_ROOT = $SIM_ROOT

# ======================================================================
# PLASMA STATE SECTION
# ======================================================================

# Where to put plasma state files as the simulation evolves
PLASMA_STATE_WORK_DIR = $SIM_ROOT/work/plasma_state 
ARCHIVE_STATE_ON_OUTPUT = FALSE

# Config variables defining simulation specific names for plasma state files

# List of files that constitute the plasma state
PLASMA_STATE_FILES = bField.nc profiles.nc solpsTarg.txt speciesList.txt ftridynBackground.nc ftridynSelf.nc hpic.nc

# ======================================================================
# PORTS SECTION
# ======================================================================

[PORTS]

    # The order here is the order in which they are run.

    NAMES = DRIVER WORKER FWORKER GWORKER 

    # Required ports - DRIVER and INIT   

    [[DRIVER]]
        IMPLEMENTATION = iterftg_data_driver 

    [[WORKER]]
        IMPLEMENTATION = iter_data
    
    [[FWORKER]]
        IMPLEMENTATION = ftridyn_worker

    [[GWORKER]]
        IMPLEMENTATION = gitr_comp
# ======================================================================
# COMPONENT CONFIGURATION SECTION
# ======================================================================

[iterftg_data_driver]
    CLASS = driver
    SUB_CLASS = 
    NAME = solps_ft_gitr_driver
    NPROC = 1
    BIN_PATH = $IPS_WRAPPER_PATH
    INPUT_DIR = 
    INPUT_FILES = 
    OUTPUT_FILES =  
    SCRIPT = $IPS_WRAPPER_PATH/drivers/solps_ft_gitr_driver.py

[iter_data]
    CLASS = workers 
    SUB_CLASS = 
    NAME = solps_iter_data_worker 
    NPROC = 1
    BIN_PATH = $IPS_WRAPPER_PATH
    INPUT_DIR = 
    INPUT_FILES = 
    OUTPUT_FILES = $SOLPS_DATA_ITERP_PATH/build/xsolps-iter-data
    SCRIPT = $IPS_WRAPPER_PATH/ips-solps-iter/solps_iter_process_data.py
    EXE = $SOLPS_DATA_ITERP_PATH/build/xsolps-iter-data
    TASK=get_gitr
    RMIN = 4.0
    RMAX = 8.4
    NUMR = 100
    ZMIN = -4.6
    ZMAX = 4.7
    NUMZ = 200
    SOLPS_GEOMETRY = /Users/tyounkin/Dissertation/ITER/mq4/b2fgmtry.txt
    SOLPS_STATE = /Users/tyounkin/Dissertation/ITER/mq4/b2fstate.txt
    SOLPS_EQUILIBRIUM = /Users/tyounkin/Dissertation/ITER/Baseline2008-li0.70.x4.equ
    GITR_GEOMETRY = /Users/tyounkin/Code/gitr2/iter/iter_milestone/2d/input/iter2dRefinedOuterTarget.cfg
    LEFT_TARGET = leftTargOutput
    RIGHT_TARGET = rightTargOutput
    RESULT=output
    DAKOTA_RESULT=dakota
    RMIN_SEP = 5.55
    RMAX_SEP = 6.226
    ZMIN_SEP = -4.6
    ZMAX_SEP = -3.238

[ftridyn_worker]
    CLASS = workers
    SUB_CLASS =
    NAME = ftridynWorker
    NPROC = 2
    BIN_PATH = $FTRIDYN_PATH/src
    FTRIDYN_EXE =$BIN_PATH/shell_Ftridyn.sh
    INPUT_DIR =
    INPUT_FILES = 
    OUTPUT_FILES = #output.txt
    SCRIPT = $IPS_WRAPPER_PATH/ips-ftridyn/ftridyn_worker_mpi.py
    FTMPI = $GITR_PATH/ftridyn/ftMPI.py
    FTMPI_IN = $GITR_PATH/ftridyn/ftMPI.in
    FTMPI_NODES = 1
    FTMPI_PPN = 1
    GET_SPECIES=1 #get species from solps output
    BEAM=W
    TARGET=W
    NH=1000
    E_START=2
    E_END=3
    NE=2
    ESCALE=log
    A_START=0
    A_END=89.9
    NA=4
    R_START=0
    R_END=0
    NR=1
    NEDIST=100
    MAXEDIST=20.0
    NADIST=50

[gitr_comp]
    CLASS = workers 
    SUB_CLASS = 
    NAME = gitr_comp
    NPROC = 1
    BIN_PATH = $IPS_WRAPPER_PATH
    #INPUT_DIR = /home/tqd/gitr/pisces/final/highFlux 
    NT = 100
    INPUT_FILES = 
    OUTPUT_FILES = gitrOut.txt gitrEAflux.txt 
    SCRIPT = $IPS_WRAPPER_PATH/ips-gitr/gitr_comp.py
    GITR_EXE = $GITR_PATH/build/GITR #launchGITR.sh
    BASE_DIR =
    GITR_INPUT_DIR=$GITR_PATH/iter/iter_milestoneQ4/2d
    TASK_PPN=1

# =============================================================================
# TIMELOOP SECTION
# =============================================================================

[TIME_LOOP]
    MODE = REGULAR
    START = 0 #$RESTART_TIME # Float or $RESTART_TIME 
    FINISH = 1 #$RESTART_TIME + 18.0 # 3.5 # Float or $RESTART_TIME + float 
    NSTEP = 1 

# =============================================================================
# CHECKPOINT SECTION
# =============================================================================

[CHECKPOINT]
   MODE = ALL
   PHYSTIME_INTERVAL = 0.5 
   NUM_CHECKPOINT = -1 
   PROTECT_FREQUENCY = 5  


