# ======================================================================
# PLATFORM OVERRIDE SECTION
# ======================================================================

# HOST =
# MPIRUN =
# PHYS_BIN_ROOT =
# DATA_TREE_ROOT =

# ======================================================================
# USER DATA SECTION
# ======================================================================

USER_W3_DIR = $PWD/www
USER_W3_BASEURL =
USER = Batchelor       		# Optional, if missing the unix username is used

# ======================================================================
# ROOT LOCATION
# ======================================================================

COMPONENTS_ROOT = $IPS_WRAPPER_PATH
# ======================================================================
# SIMULATION INFO SECTION
# ======================================================================

RUN_ID = GENRAY_CQL3D_LH_stand_alone
RUN_COMMENT = Testing GENRAY CQL3D DIII-D LH
TOKAMAK_ID = DIII-D
SHOT_NUMBER = 12345
SIM_NAME = DIII_D_GENRAY_CQL3D_LH

OUTPUT_PREFIX =
LOG_FILE = log.warning
LOG_LEVEL = WARNING

SIM_ROOT = $PWD
SIM_INPUT_DIR=$ATOM/examples_input_data/GENRAY_CQL3D_DIIID_LH_example

SIMULATION_MODE = NORMAL # NORMAL or RESTART
START_TIME = 0.

#SIMULATION_MODE = RESTART # NORMAL or RESTART
#RESTART_TIME = 2.0 # Float or LATEST

RESTART_ROOT = $SIM_ROOT

# ======================================================================
# PLASMA STATE SECTION
# ======================================================================

# Where to put plasma state files as the simulation evolves
STATE_WORK_DIR = $SIM_ROOT/work/plasma_state
ARCHIVE_STATE_ON_OUTPUT = TRUE

# Config variables defining simulation specific names for plasma state files
CURRENT_STATE = ips-state.nc
CURRENT_EQDSK = ips-eqdsk.geq
CURRENT_CQL = cql_file
CURRENT_DQL = genray.nc

# List of files that constitute the plasma state
STATE_FILES = $CURRENT_STATE $CURRENT_EQDSK $CURRENT_CQL $CURRENT_DQL
ALL_STATE_FILES = $CURRENT_STATE $CURRENT_EQDSK $CURRENT_CQL $CURRENT_DQL
# ======================================================================
# PORTS SECTION
# ======================================================================

[PORTS]

    NAMES = INIT DRIVER EPA RF_LH FP MONITOR

    # Required ports - DRIVER and INIT

    [[INIT]]
        IMPLEMENTATION = generic_ps_init

    [[DRIVER]]
        IMPLEMENTATION = GENERIC_DRIVER

    # Physics ports

   [[EPA]]
        IMPLEMENTATION = model_EPA_mdescr

   [[RF_LH]]
      IMPLEMENTATION = rf_genray

   [[FP]]
      IMPLEMENTATION = CQL3D
    # Monitor ports

    [[MONITOR]]
        IMPLEMENTATION = monitor_comp

# ======================================================================
# COMPONENT CONFIGURATION SECTION
# ======================================================================


[generic_ps_init]
    CLASS = generic_ps_init
    SUB_CLASS = dbb
    NAME = generic_ps_init
    NPROC = 1
    INIT_MODE = mixed
    BIN_PATH = $COMPONENTS_ROOT/initializers/generic_ps_init
    SCRIPT = $BIN_PATH/generic_ps_init.py
    INPUT_DIR = $SIM_INPUT_DIR/generic_ps_file_init_input
    INPUT_FILES = s217000.00004 g217000.00004 DIII_D_LH.mdescr DIII_D_LH.sconfig
    MDESCR_FILE = DIII_D_LH.mdescr
    SCONFIG_FILE = DIII_D_LH.sconfig
    INPUT_STATE_FILE = s217000.00004
    INPUT_EQDSK_FILE = g217000.00004
    MDESCR_COMPONENTS = LH

    OUTPUT_FILES = $CURRENT_STATE
    RESTART_FILES = $STATE_FILES
    STATE_FILES = $ALL_STATE_FILES

[GENERIC_DRIVER]
    CLASS = drivers
    SUB_CLASS = dbb
    NAME = generic_driver
    NPROC = 1
    INIT_ONLY = FALSE
    BIN_PATH = $COMPONENTS_ROOT/generic-drivers
    SCRIPT = $BIN_PATH/generic_driver.py
        INPUT_DIR =
        INPUT_FILES =
        OUTPUT_FILES =
        RESTART_FILES =
        STATE_FILES = $CURRENT_STATE

[model_EPA_mdescr]
    CLASS = epa
    SUB_CLASS = model_epa
    NAME = model_EPA_mdescr
    NPROC = 1
    INIT_ONLY = True
    BIN_PATH = $COMPONENTS_ROOT/ips-model-epa/
    INPUT_DIR = $SIM_INPUT_DIR/model_EPA_mdescr_input/
        INPUT_FILES = model_EPA_mdescr_input.nml
        STATE_FILES = $CURRENT_STATE $CURRENT_EQDSK
        OUTPUT_FILES = $INPUT_FILES
        RESTART_FILES = $INPUT_FILES
    SCRIPT = $BIN_PATH/model_EPA_mdescr.py

[rf_genray]
    CLASS = rf
    SUB_CLASS = genray
    NAME = genray
    NPROC = 1
    RFMODE = LH
    ISOURCE_STRING = 1
    GENRAYNML = genray.in_LH
    ADJ_READ = disabled
    PS_ADD_NML = disabled
    GENRAY_BIN = $GENRAY_EXEC
    ZERO_EC_POWER_BIN = /project/projectdirs/atom/users/u2115/ips-wrappers/ips-model-rf/zero_RF_EC_power
    INPUT_DIR = $SIM_INPUT_DIR/genray_LH_input/
        INPUT_SUFFIX =
        INPUT_FILES = genray.in_LH
    OUTPUT_FILES = genray.in log.genray
    STATE_FILES = $CURRENT_STATE $CURRENT_EQDSK
    RESTART_FILES = $INPUT_FILES
    BIN_PATH = $COMPONENTS_ROOT/ips-genray/
    SCRIPT = $BIN_PATH/rf_genray.py

[CQL3D]
# Machine dependent config info
    BIN_PATH = $COMPONENTS_ROOT/ips-cql3d
    SCRIPT = $BIN_PATH/fp_cql3d_general.py
    CQL3D_BIN = $CQL3D_EXEC
# Static config info
    CLASS = fp
    SUB_CLASS =
    NAME = cql3d
    NPROC = 24
#    NPROC = 1
	CQL3D_MODE = el-only
	CQL3D_OUTPUT = LH
	CQL3D_NML = cqlinput_template
	NSTEPS_STR = 3
	DELTAT_STR = 0.005
	PS_ADD_NML = disabled
    INPUT_DIR = $SIM_INPUT_DIR/cql3d_input/
        INPUT_FILES = cqlinput_template grfont.dat genray.nc ImChizz.inp_template
        STATE_FILES = $ALL_STATE_FILES
        OUTPUT_FILES =
        RESTART_FILES = $STATE_FILES

[monitor_comp]
# Machine dependent config info
    BIN_PATH = $COMPONENTS_ROOT/ips-monitor/
    SCRIPT = $BIN_PATH/monitor_comp.py
# Static config info
    CLASS = util
    SUB_CLASS =
    NAME = monitor
    NPROC = 1
    W3_DIR = $USER_W3_DIR
    W3_BASEURL = $USER_W3_BASEURL
#    GENERATE_PDF = Never
    INPUT_DIR =
    INPUT_FILES =
    OUTPUT_FILES = monitor_file.nc $CURRENT_STATE
    STATE_FILES = $CURRENT_STATE
    RESTART_FILES = $INPUT_FILES monitor_restart monitor_file.nc

# =============================================================================
# TIMELOOP SECTION
# =============================================================================

[TIME_LOOP]
    MODE = REGULAR
    START = $START_TIME # Float or $RESTART_TIME
    FINISH = 1. # Float or $RESTART_TIME + float
    NSTEP = 1

# =============================================================================
# CHECKPOINT SECTION
# =============================================================================

[CHECKPOINT]
   MODE = PHYSTIME_REGULAR
   PHYSTIME_INTERVAL = 1.0
   NUM_CHECKPOINT = -1
