# ======================================================================
# PLATFORM OVERRIDE SECTION
# ======================================================================

#  Hello world does not require these URLs
PORTAL_URL = http://localhost
RUNID_URL  = http://localhost

# ======================================================================
# SIMULATION INFO SECTION
# ======================================================================

SIM_NAME = non_blocking_override
SIM_ROOT = $PWD

LOG_FILE = log.warning

SIMULATION_MODE = NORMAL

# ======================================================================
# STATE SECTION
# ======================================================================

STATE_WORK_DIR = $SIM_ROOT/work/state
STATE = 'new_data.json'
STATE_FILES = $STATE

# ======================================================================
# Input File SECTION
# ======================================================================

USER_INPUT_FILES = 'model_config.json'

# ======================================================================
# PORTS SECTION
# ======================================================================

[PORTS]

    # The order here is the order in which they are run.

    NAMES = DRIVER TRAIN

    [[DRIVER]]
        IMPLEMENTATION = data

    [[TRAIN]]
        IMPLEMENTATION = train

# ======================================================================
# COMPONENT CONFIGURATION SECTION
# ======================================================================

[data]
    CLASS = driver
    SUB_CLASS =
    NAME = data
    NPROC = 1
    BIN_PATH =
    SCRIPT =
    MODULE = non_blocking_wait.data
    INPUT_FILES = $USER_INPUT_FILES
    STATE_FILES = $STATE
    OUTPUT_FILES =

[train]
    CLASS = workers
    SUB_CLASS =
    NAME = train
    NPROC = 1
    BIN_PATH =
    SCRIPT =
    MODULE = non_blocking_wait.train
    INPUT_FILES = $USER_INPUT_FILES
    STATE_FILES = $STATE
    OUTPUT_FILES =

