# ======================================================================
# PLATFORM OVERRIDE SECTION
# ======================================================================

# HOST =
# MPIRUN =
# PHYS_BIN_ROOT =
# DATA_TREE_ROOT =

# ======================================================================
# USER DATA SECTION
# ======================================================================

USER_W3_DIR = $PWD/www
USER_W3_BASEURL =

# ======================================================================
# ROOT LOCATION
# ======================================================================

IPS_COMPONENTS_ROOT = $IPS_WRAPPER_PATH
# ======================================================================
# SIMULATION INFO SECTION
# ======================================================================

RUN_ID = CQL3D_run
RUN_COMMENT = Basic example to run CQL3D from CQL3D.in file

SIM_NAME = $RUN_ID

OUTPUT_PREFIX =
LOG_FILE = log.warning
LOG_LEVEL = WARN  # DEBUG | INFO | WARN | ERROR | CRITICAL

SIM_ROOT = $PWD
SIM_INPUT_DIR= $PWD/_inputs

SIMULATION_MODE = NORMAL # NORMAL or RESTART
RESTART_TIME = LATEST # Float or LATEST
RESTART_ROOT = $SIM_ROOT

# ======================================================================
# PLASMA STATE SECTION
# ======================================================================

# Where to put plasma state files as the simulation evolves
STATE_WORK_DIR = $SIM_ROOT/work/plasma_state
ARCHIVE_STATE_ON_OUTPUT = TRUE

# Config variables defining simulation specific names for plasma state files
CURRENT_STATE =

# List of files that constitute the plasma state
STATE_FILES =
# ======================================================================
# PORTS SECTION
# ======================================================================

[PORTS]

    NAMES = DRIVER FP_CQL3D

    # Required ports - DRIVER


    [[DRIVER]]
        IMPLEMENTATION = basic_driver

    [[FP_CQL3D]]
        IMPLEMENTATION = fp_CQL3D


# ======================================================================
# COMPONENT CONFIGURATION SECTION
# ======================================================================

 [basic_driver]
# Machine dependent config info
    BIN_PATH = $IPS_COMPONENTS_ROOT/generic-drivers
    SCRIPT = $BIN_PATH/basic_driver.py
# Static config info
    CLASS = driver
    SUB_CLASS =
    NAME = basic_driver
    NPROC = 1
    INPUT_FILES =
    OUTPUT_FILES =
    RESTART_FILES =
    STATE_FILES =

[fp_CQL3D]
# Machine dependent config info
    BIN_PATH = $IPS_COMPONENTS_ROOT/ips-cql3d
    SCRIPT = $BIN_PATH/CQL3D_basic_component.py
    EXECUTABLE = $CQL3D_EXEC
# Static config info
    CLASS = fp_CQL3D
    SUB_CLASS =
    NAME = CQL3D_basic
    NPROC = 16
    INPUT_DIR = $SIM_INPUT_DIR/cql3d_input
    INPUT_FILES = *
    OUTPUT_FILES = *
    STATE_FILES =
    RESTART_FILES =


# =============================================================================
# TIMELOOP SECTION
# =============================================================================

[TIME_LOOP]
    MODE = REGULAR
    START = 0.   # Float or $RESTART_TIME
    FINISH = 1. # Float or $RESTART_TIME + float
    NSTEP = 1

# =============================================================================
# CHECKPOINT SECTION
# =============================================================================

[CHECKPOINT]
   MODE = ALL
   PHYSTIME_INTERVAL = 0.5
   NUM_CHECKPOINT = -1
   PROTECT_FREQUENCY = 5
