# AToM paths for Cori
######################

export ATOM=/project/projectdirs/atom
export ATOM_CORI=$ATOM/atom-install-cori

#####################################################################
# IPS paths (until atom-install-cori settles down this points to u2115)
#####################################################################

export IPS_DIR=/project/projectdirs/atom/users/u2115
export IPS_PATH=$IPS_DIR/ips-framework
export IPS_WRAPPER_PATH=$IPS_DIR/ips-wrappers

#########################
# Add the IPS to the PATH
#########################

export PATH=$IPS_PATH/framework/src:$PATH

#####################
# Python module paths
#####################

# path to ips
export PYTHONPATH=$IPS_PATH/framework/src:$IPS_PATH/framework/utils:$PYTHONPATH

# path to wrapper utilities
export PYTHONPATH=$IPS_WRAPPER_PATH/utilities:$PYTHONPATH

##############
# Load modules
##############
module load python
