# ======================================================================
# PLATFORM OVERRIDE SECTION
# ======================================================================

# HOST = 
# MPIRUN = 
# PHYS_BIN_ROOT =  
# DATA_TREE_ROOT =
# PORTAL_URL = 
# RUNID_URL  = 

# ======================================================================
# USER DATA SECTION
# ======================================================================
USE_PORTAL=False
USER_W3_DIR = $ATOM/www/$USER
USER_W3_BASEURL = http://portal.nersc.gov/project/atom/$USER
PORTAL_URL = http://swim.gat.com:8080/monitor

# ======================================================================
# ROOT LOCATION
# ======================================================================

IPS_ROOT = $IPS_DIR
#IPS_WRAPPER_PATH = $IPS_DIR/ips-wrappers

# ======================================================================
# SIMULATION INFO SECTION
# ======================================================================

RUN_ID = myRun
RUN_COMMENT = Excellent work 
TOKAMAK_ID = ITER
SHOT_NUMBER = 12345

SIM_NAME = thisSim

OUTPUT_PREFIX = 
LOG_FILE = log.warning
LOG_LEVEL = INFO # DEBUG | INFO | WARN | ERROR | CRITICAL 

SIM_ROOT = $PWD
SIM_INPUT_DIR=  

SIMULATION_MODE = NORMAL # NORMAL or RESTART
RESTART_TIME = LATEST # Float or LATEST
RESTART_ROOT = $SIM_ROOT

# ======================================================================
# PLASMA STATE SECTION
# ======================================================================

# Where to put plasma state files as the simulation evolves
STATE_WORK_DIR = $SIM_ROOT/work/plasma_state 
ARCHIVE_STATE_ON_OUTPUT = FALSE

# Config variables defining simulation specific names for plasma state files

# List of files that constitute the plasma state
STATE_FILES = bField.nc profiles.nc solpsTarg.txt speciesList.txt 

# ======================================================================
# PORTS SECTION
# ======================================================================

[PORTS]

    # The order here is the order in which they are run.

    NAMES = DRIVER WORKER 

    # Required ports - DRIVER and INIT   

    [[DRIVER]]
        IMPLEMENTATION = solps_iter_data_driver 

    [[WORKER]]
        IMPLEMENTATION = iter_data

# ======================================================================
# COMPONENT CONFIGURATION SECTION
# ======================================================================

[solps_iter_data_driver]
    CLASS = driver
    SUB_CLASS = 
    NAME = solps_iter_data_driver
    NPROC = 1
    BIN_PATH = $IPS_WRAPPER_PATH
    INPUT_DIR = 
    INPUT_FILES = 
    OUTPUT_FILES =  
    SCRIPT = $IPS_WRAPPER_PATH/drivers/solps_iter_data_driver.py

[iter_data]
    CLASS = workers 
    SUB_CLASS = 
    NAME = solps_iter_data_worker 
    NPROC = 1
    BIN_PATH = $IPS_WRAPPER_PATH
    INPUT_DIR = 
    INPUT_FILES = 
    OUTPUT_FILES = $SOLPS_DATA_ITERP_PATH/build/xsolps-iter-data
    SCRIPT = $IPS_WRAPPER_PATH/ips-solps-iter/solps_iter_process_data.py
    EXE = $SOLPS_DATA_ITERP_PATH/build/xsolps-iter-data
    TASK=get_gitr
    RMIN = 4.0
    RMAX = 8.4
    NUMR = 400
    ZMIN = -4.6
    ZMAX = 4.7
    NUMZ = 800
    SOLPS_GEOMETRY = /Users/tyounkin/Dissertation/ITER/mq3/solps/b2fgmtry
    SOLPS_STATE = /Users/tyounkin/Dissertation/ITER/mq3/solps/b2fstate
    SOLPS_EQUILIBRIUM = /Users/tyounkin/Dissertation/ITER/mq3/solps/Baseline2008-li0.70.x4.equ
    GITR_GEOMETRY = $GITR_PATH/iter/iter_milestone/2d/input/iter2dRefinedOuterTarget.cfg
    LEFT_TARGET = leftTargOutput
    RIGHT_TARGET = rightTargOutput
    RESULT=output
    DAKOTA_RESULT=dakota
    RMIN_SEP = 5.55
    RMAX_SEP = 6.226
    ZMIN_SEP = -4.6
    ZMAX_SEP = -3.238

# =============================================================================
# TIMELOOP SECTION
# =============================================================================

[TIME_LOOP]
    MODE = REGULAR
    START = 0 #$RESTART_TIME # Float or $RESTART_TIME 
    FINISH = 1 #$RESTART_TIME + 18.0 # 3.5 # Float or $RESTART_TIME + float 
    NSTEP = 1 

# =============================================================================
# CHECKPOINT SECTION
# =============================================================================

[CHECKPOINT]
   MODE = ALL
   PHYSTIME_INTERVAL = 0.5 
   NUM_CHECKPOINT = -1 
   PROTECT_FREQUENCY = 5  


