# ======================================================================
# PLATFORM OVERRIDE SECTION
# ======================================================================

# HOST =
# MPIRUN =
# PHYS_BIN_ROOT =
# DATA_TREE_ROOT =

# ======================================================================
# USER DATA SECTION
# ======================================================================

USER_W3_DIR = $PWD/www/
USER_W3_BASEURL =

# ======================================================================
# ROOT LOCATION
# ======================================================================

IPS_ROOT = $IPS_PATH
IPS_COMPONENTS_ROOT = $IPS_DIR/ips-wrappers

# ======================================================================
# SIMULATION INFO SECTION
# ======================================================================

RUN_ID = model_run
RUN_COMMENT = Sequential Model Simulation
TOKAMAK_ID = ITER
SHOT_NUMBER = 12345

SIM_NAME = sequential_model

OUTPUT_PREFIX =
LOG_FILE = log.warning
LOG_LEVEL = WARN  # DEBUG | INFO | WARN | ERROR | CRITICAL

SIM_ROOT = $PWD
SIM_INPUT_DIR= $PWD/_inputs

SIMULATION_MODE = RESTART # NORMAL or RESTART
RESTART_TIME = LATEST # Float or LATEST
RESTART_ROOT = $SIM_ROOT

# ======================================================================
# PLASMA STATE SECTION
# ======================================================================

# Where to put plasma state files as the simulation evolves
PLASMA_STATE_WORK_DIR = $SIM_ROOT/work/plasma_state
ARCHIVE_STATE_ON_OUTPUT = TRUE

# Config variables defining simulation specific names for plasma state files
CURRENT_STATE = ips-state.nc
CURRENT_EQDSK = ips-eqdsk.geq

# List of files that constitute the plasma state
PLASMA_STATE_FILES = $CURRENT_STATE $CURRENT_EQDSK
# ======================================================================
# PORTS SECTION
# ======================================================================

[PORTS]

    NAMES = INIT DRIVER MONITOR EPA RF_IC NB FUS

    # Required ports - DRIVER and INIT

    [[INIT]]
        IMPLEMENTATION = generic_ps_init

    [[DRIVER]]
        IMPLEMENTATION = generic_driver

    [[EPA]]
        IMPLEMENTATION = model_EPA

    [[RF_IC]]
        IMPLEMENTATION = model_RF_IC

    [[FUS]]
        IMPLEMENTATION = model_FUS

    [[NB]]
        IMPLEMENTATION = model_NB

    # Monitor ports

    [[MONITOR]]
        IMPLEMENTATION = monitor_comp

# ======================================================================
# COMPONENT CONFIGURATION SECTION
# ======================================================================

[generic_ps_init]
# Machine dependent config info
#    BIN_PATH = $IPS_COMPONENTS_ROOT/initializers/generic_ps_init
    BIN_PATH = /project/projectdirs/atom/users/dbb/examples_tests/ips-wrappers/initializers/generic_ps_init 
    SCRIPT = $BIN_PATH/generic_ps_init.py
# Static config info
    CLASS = init
    SUB_CLASS =
    NAME = generic_ps_init
    NPROC = 1
    INIT_MODE = minimal
    INPUT_FILES =
    OUTPUT_FILES = $CURRENT_STATE
    RESTART_FILES = $PLASMA_STATE_FILES
    PLASMA_STATE_FILES = $CURRENT_STATE $CURRENT_EQDSK

 [generic_driver]
# Machine dependent config info
#    BIN_PATH = $IPS_COMPONENTS_ROOT/generic-drivers
    BIN_PATH = ../../ips-wrappers/generic-drivers/
    SCRIPT = $BIN_PATH/generic_driver.py
# Static config info
    CLASS = driver
    SUB_CLASS =
    NAME = generic_driver
    NPROC = 1
    INPUT_FILES =
    OUTPUT_FILES =
    RESTART_FILES =
    PLASMA_STATE_FILES = $CURRENT_STATE $CURRENT_EQDSK

[model_RF_IC]
# Machine dependent config info
    BIN_PATH = $IPS_COMPONENTS_ROOT/ips-model-rf-ic
    SCRIPT = $BIN_PATH/model_RF_IC.py
# Static config info
    CLASS = rf
    SUB_CLASS = ic
    NAME = model_RF_IC
    NPROC = 1
    INPUT_DIR = $SIM_INPUT_DIR/model_RF_IC
    INPUT_FILES = model_RF_IC_input.nml mdescr_namelist.dat sconfig_namelist.dat
    OUTPUT_FILES = $INPUT_FILES
    PLASMA_STATE_FILES = $CURRENT_STATE $CURRENT_EQDSK
    RESTART_FILES = $INPUT_FILES

[model_EPA]
    BIN_PATH = $IPS_COMPONENTS_ROOT/ips-model-epa
    SCRIPT = $BIN_PATH/model_epa_ps_file_init.py
    CLASS = epa
    SUB_CLASS = model
    NAME = model_EPA
    NPROC = 1
    INPUT_DIR = $SIM_INPUT_DIR/model_epa/ITER/hy040510/t20.0
    INPUT_STATE_FILE = hy040510_002_ps_epa__tsc_4_20.000.cdf
    INPUT_EQDSK_FILE = hy040510_002_ps_epa__tsc_4_20.000.geq
    INPUT_FILES = model_epa_input.nml $INPUT_STATE_FILE $INPUT_EQDSK_FILE
    OUTPUT_FILES = internal_state_data.nml
    PLASMA_STATE_FILES = $CURRENT_STATE $CURRENT_EQDSK
    RESTART_FILES = $INPUT_FILES internal_state_data.nml

[model_NB]
    BIN_PATH = $IPS_COMPONENTS_ROOT/ips-model-nb
    SCRIPT = $BIN_PATH/model_NB_2_mcmd.py
    CLASS = nb
    SUB_CLASS = model
    NAME = model_NB
    NPROC = 1
    INPUT_DIR = $SIM_INPUT_DIR/model_NB/init_from_cur_state
    INPUT_FILES = model_NB_input.nml
    OUTPUT_FILES = internal_state_data.nml
    PLASMA_STATE_FILES = $CURRENT_STATE $CURRENT_EQDSK
    RESTART_FILES = $INPUT_FILES internal_state_data.nml

[model_FUS]
    BIN_PATH = $IPS_COMPONENTS_ROOT/ips-model-fus
    SCRIPT = $BIN_PATH/model_FUS_2_mcmd.py
    CLASS = fus
    SUB_CLASS = model
    NAME = model_FUS
    NPROC = 1
    INPUT_DIR = $SIM_INPUT_DIR/model_FUS/init_from_cur_state
    INPUT_FILES = model_FUS_input.nml
    OUTPUT_FILES = internal_state_data.nml
    PLASMA_STATE_FILES = $CURRENT_STATE $CURRENT_EQDSK
    RESTART_FILES = $INPUT_FILES internal_state_data.nml

[monitor_comp]
# Machine dependent config info
    BIN_PATH = $IPS_COMPONENTS_ROOT/ips-monitor
    SCRIPT = $BIN_PATH/monitor_comp.py
# Static config info
    CLASS = util
    SUB_CLASS =
    NAME = monitor
    NPROC = 1
    W3_DIR = $USER_W3_DIR
    W3_BASEURL = $USER_W3_BASEURL
    INPUT_DIR = $BIN_PATH
    INPUT_FILES =
    OUTPUT_FILES = monitor_file.nc $CURRENT_STATE
    PLASMA_STATE_FILES = $CURRENT_STATE
    RESTART_FILES = $INPUT_FILES monitor_restart monitor_file.nc

# =============================================================================
# TIMELOOP SECTION
# =============================================================================

[TIME_LOOP]
    MODE = REGULAR
    START = $RESTART_TIME   # Float or $RESTART_TIME
    FINISH = 6. # Float or $RESTART_TIME + float
    NSTEP = 2

# =============================================================================
# CHECKPOINT SECTION
# =============================================================================

[CHECKPOINT]
   MODE = ALL
   PHYSTIME_INTERVAL = 0.5
   NUM_CHECKPOINT = -1
