export IPS_DIR=../..
export IPS_PATH=$IPS_DIR/ips-framework

#########################
# Add the IPS to the PATH
#########################

export PATH=$IPS_PATH/framework/src:$PATH

#####################
# Python module paths
#####################

# path to ips
export PYTHONPATH=$IPS_PATH/framework/src:$IPS_PATH/framework/utils:$PYTHONPATH

# path to ABC_example modules
export PYTHONPATH=_exec:_exec/utils:$PYTHONPATH

