# ======================================================================
# PLATFORM OVERRIDE SECTION
# ======================================================================

# HOST =
# MPIRUN =
# PHYS_BIN_ROOT =
# DATA_TREE_ROOT =

# ======================================================================
# USER DATA SECTION
# ======================================================================

USER_W3_DIR = $PWD/www
USER_W3_BASEURL =

# ======================================================================
# ROOT LOCATION
# ======================================================================

IPS_COMPONENTS_ROOT = $IPS_WRAPPERS

# ======================================================================
# SIMULATION INFO SECTION
# ======================================================================

RUN_ID = basic
RUN_COMMENT = RAYS_basic_simulation

SIM_NAME = RAYS_basic

OUTPUT_PREFIX =
LOG_FILE = log.warning
LOG_LEVEL = WARN  # DEBUG | INFO | WARN | ERROR | CRITICAL

SIM_ROOT = $PWD
SIM_INPUT_DIR= $SIM_ROOT/_inputs

SIMULATION_MODE = NORMAL # NORMAL or RESTART
RESTART_TIME = LATEST # Float or LATEST
RESTART_ROOT = $SIM_ROOT

# ======================================================================
# SIMULATION STATE SECTION
# ======================================================================

# Where to put plasma state files as the simulation evolves
STATE_WORK_DIR = $SIM_ROOT/work/state
ARCHIVE_STATE_ON_OUTPUT = TRUE

# Config variables defining simulation specific names for plasma state files
CURRENT_STATE =

# List of files that constitute the plasma state
STATE_FILES =
# ======================================================================
# PORTS SECTION
# ======================================================================

[PORTS]

    NAMES = INIT DRIVER RAYS

    # Required ports - DRIVER and INIT

    [[INIT]]
        IMPLEMENTATION = basic_init

    [[DRIVER]]
        IMPLEMENTATION = basic_driver

    [[RAYS]]
        IMPLEMENTATION = RAYS_basic_component

# ======================================================================
# COMPONENT CONFIGURATION SECTION
# ======================================================================

[basic_init]
# Machine dependent config info
    BIN_PATH = $IPS_COMPONENTS_ROOT/initializers/basic_init
    SCRIPT = $BIN_PATH/basic_init.py
# Static config info
    CLASS = init
    SUB_CLASS =
    NAME = basic_init
    NPROC = 1
    INIT_HELPER_CODE =
    INPUT_FILES =
    OUTPUT_FILES =
    RESTART_FILES =
    STATE_FILES =

 [basic_driver]
# Machine dependent config info
    BIN_PATH = $IPS_COMPONENTS_ROOT
    SCRIPT = $BIN_PATH/generic-drivers/basic_driver.py
# Static config info
    CLASS = driver
    SUB_CLASS =
    NAME = basic_driver
    NPROC = 1
    INPUT_FILES =
    OUTPUT_FILES =
    RESTART_FILES =
    STATE_FILES = $CURRENT_STATE

[RAYS_basic_component]
# Machine dependent config info
    BIN_PATH = $IPS_COMPONENTS_ROOT/ips-rays
    SCRIPT = $BIN_PATH/RAYS_basic_component.py
    EXECUTABLE = $RAYS_bin
# Static config info
    CLASS = RAYS
    SUB_CLASS =
    NAME = RAYS
    NPROC = 1
    INPUT_DIR = $SIM_INPUT_DIR/RAYS_input
    INPUT_FILES = rays.in
    OUTPUT_FILES = $INPUT_FILES run_results.basic.nc
    STATE_FILES =
    RESTART_FILES = $INPUT_FILES
    RAYS_NML = rays.in

# =============================================================================
# TIMELOOP SECTION
# =============================================================================

[TIME_LOOP]
    MODE = REGULAR
    START = 0.   # Float or $RESTART_TIME
    FINISH = 1. # Float or $RESTART_TIME + float
    NSTEP = 1

# =============================================================================
# CHECKPOINT SECTION
# =============================================================================

[CHECKPOINT]
   MODE = ALL
   PHYSTIME_INTERVAL = 0.5
   NUM_CHECKPOINT = -1
   PROTECT_FREQUENCY = 5
