# ======================================================================
# PLATFORM OVERRIDE SECTION
# ======================================================================

# HOST =
# MPIRUN =
# PHYS_BIN_ROOT =
# DATA_TREE_ROOT =
# PORTAL_URL =
# RUNID_URL  =

# ======================================================================
# USER DATA SECTION
# ======================================================================

USER_W3_DIR = $PWD/www
USER_W3_BASEURL =
USER = Batchelor       		# Optional, if missing the unix username is used

# ======================================================================
# ROOT LOCATION
# ======================================================================

IPS_ROOT = $IPS_PATH
#COMPONENTS_ROOT = $IPS_DIR/ips-wrappers
COMPONENTS_ROOT = $IPS_WRAPPER_PATH
# ======================================================================
# SIMULATION INFO SECTION
# ======================================================================

RUN_ID = toric_only
RUN_COMMENT = toric only - 24 cores
TOKAMAK_ID = ITER
SHOT_NUMBER = 12345

SIM_NAME =TORIC_ITER_TSC

OUTPUT_PREFIX =
LOG_FILE = log.warning
LOG_LEVEL = WARNING

SIM_ROOT = $PWD
SIM_INPUT_DIR=$ATOM/examples_input_data/TORIC_ITER_TSC_example

SIMULATION_MODE = NORMAL # NORMAL or RESTART
#SIMULATION_MODE = RESTART # NORMAL or RESTART
RESTART_TIME = 100.0 # Float or LATEST
RESTART_ROOT = $SIM_ROOT

# ======================================================================
# PLASMA STATE SECTION
# ======================================================================

# Where to put plasma state files as the simulation evolves
STATE_WORK_DIR = $SIM_ROOT/work/plasma_state
ARCHIVE_STATE_ON_OUTPUT = TRUE

# Config variables defining simulation specific names for plasma state files
CURRENT_STATE = ips-state.nc
CURRENT_EQDSK = ips-eqdsk.geq

# List of files that constitute the plasma state
STATE_FILES = $CURRENT_STATE $CURRENT_EQDSK

# ======================================================================
# PORTS SECTION
# ======================================================================

[PORTS]

    NAMES = INIT DRIVER RF_IC MONITOR

    # Required ports - DRIVER and INIT

    [[INIT]]
        IMPLEMENTATION = generic_ps_init

    [[DRIVER]]
        IMPLEMENTATION = GENERIC_DRIVER

    # Physics ports

    [[RF_IC]]
        IMPLEMENTATION = rf_toric

    # Monitor ports

    [[MONITOR]]
        IMPLEMENTATION = monitor_comp

# ======================================================================
# COMPONENT CONFIGURATION SECTION
# ======================================================================

[generic_ps_init]
    CLASS = generic_ps_init
    SUB_CLASS = dbb
    NAME = generic_ps_init
    NPROC = 1
    INIT_MODE = existing_ps_file
    BIN_PATH = $COMPONENTS_ROOT/initializers/generic_ps_init
    SCRIPT = $BIN_PATH/generic_ps_init.py
    INPUT_DIR = $SIM_INPUT_DIR/existing_ps_file_init_input
    INPUT_FILES = ips-state_driver__generic_driver_2_100.000.nc
    INPUT_STATE_FILE = ips-state_driver__generic_driver_2_100.000.nc
    GENERATE_EQDSK = true
    OUTPUT_FILES = $CURRENT_STATE
    RESTART_FILES = $STATE_FILES
    STATE_FILES = $CURRENT_STATE $CURRENT_EQDSK

[GENERIC_DRIVER]
    CLASS = drivers
    SUB_CLASS = dbb
    NAME = generic_driver
    NPROC = 1
    INIT_ONLY = FALSE
    BIN_PATH = $COMPONENTS_ROOT/generic-drivers
    SCRIPT = $BIN_PATH/generic_driver.py
        INPUT_DIR =
        INPUT_FILES =
        OUTPUT_FILES =
        RESTART_FILES =
        STATE_FILES = $CURRENT_STATE

[rf_toric]
# Machine dependent config info
    BIN_PATH = $COMPONENTS_ROOT/ips-toric
    TORIC_BIN = $TORIC_EXEC
    GEQXPL_BIN = $GEQXPL_EXEC
    ZERO_IC_POWER_BIN = $IPS_WRAPPER_PATH/ips-model-rf/zero_RF_IC_power
    SCRIPT = $BIN_PATH/rf_ic_toric_abr_mcmd.py
# Static config info
    CLASS = rf
    SUB_CLASS = ic
    NAME = toric
    NPROC = 24
    INPUT_DIR =  $SIM_INPUT_DIR/toric_input
    INPUT_FILES = machine.inp equigs_gen.ind torica.inp
    OUTPUT_FILES = torica.inp machine.inp log.toric toric.nc profstat.dat equigs.data equidt.data toric_cfg.nc
    STATE_FILES = $CURRENT_STATE $CURRENT_EQDSK
    RESTART_FILES = $INPUT_FILES $STATE_FILES


[monitor_comp]
# Machine dependent config info
    BIN_PATH = $COMPONENTS_ROOT/ips-monitor/
    SCRIPT = $BIN_PATH/monitor_comp.py
# Static config info
    CLASS = util
    SUB_CLASS =
    NAME = monitor
    NPROC = 1
    W3_DIR = $USER_W3_DIR
    W3_BASEURL = $USER_W3_BASEURL
    INPUT_DIR =
    INPUT_FILES =
    OUTPUT_FILES = monitor_file.nc $CURRENT_STATE
    STATE_FILES = $CURRENT_STATE
    RESTART_FILES = $INPUT_FILES monitor_restart monitor_file.nc

# =============================================================================
# TIMELOOP SECTION
# =============================================================================

[TIME_LOOP]
    MODE = REGULAR
    START = 100. # Float or $RESTART_TIME
    FINISH = 101. # 3.5 # Float or $RESTART_TIME + float
    NSTEP = 1

# =============================================================================
# CHECKPOINT SECTION
# =============================================================================

[CHECKPOINT]
   MODE = PHYSTIME_REGULAR
   PHYSTIME_INTERVAL = 1.0
   NUM_CHECKPOINT = -1
   PROTECT_FREQUENCY = 5
