# ==============================================================================
# SIMULATION INFO SECTION
# ==============================================================================

SIM_NAME = massive_serial_subworkflow
SIM_ROOT = $PWD

LOG_FILE = log.warning

SIMULATION_MODE = NORMAL
RUN_COMMENT = This is an example of massive serial as a sub workflow

# ==============================================================================
# STATE SECTION
# ==============================================================================

STATE_WORK_DIR = $SIM_ROOT/work/plasma_state

MASSIVE_SERIAL_STATE = massive_serial_state.zip

# ==============================================================================
# Input File SECTION
# ==============================================================================

MASSIVE_SERIAL_CONFIG = ips_massive_serial_global.config
MASSIVE_SERIAL_NODE_CONFIG = ips_massive_serial.config
FASTRAN_CONFIG = fastran_modeleq.config

USER_INPUT_FILES = $MASSIVE_SERIAL_CONFIG $MASSIVE_SERIAL_STATE

# ==============================================================================
# PORTS SECTION
# ==============================================================================

[PORTS]
    # The order here is the order in which they are run.

    NAMES = DRIVER

    #  Required ports - DRIVER

    [[DRIVER]]
        IMPLEMENTATION = massive_serial_subworkflow

# ==============================================================================
# COMPONENT CONFIGURATION SECTION
# ==============================================================================

[massive_serial_subworkflow]
    CLASS = driver
    SUB_CLASS =
    INPUT_FILES = $USER_INPUT_FILES
    STATE_FILES =
    NAME = massive_serial_subworkflow
    NPROC = 1
    BIN_PATH =
    SCRIPT =
    MODULE = massive_serial_subworkflow.massive_serial_subworkflow
    OUTPUT_FILES =
