# ======================================================================
# PLATFORM OVERRIDE SECTION
# ======================================================================

# HOST =
# MPIRUN =
# PHYS_BIN_ROOT =
# DATA_TREE_ROOT =

# ======================================================================
# USER DATA SECTION
# ======================================================================

USER_W3_DIR = $PWD/www
USER_W3_BASEURL =
USER = Batchelor       		# Optional, if missing the unix username is used

# ======================================================================
# ROOT LOCATION
# ======================================================================

COMPONENTS_ROOT = $IPS_WRAPPER_PATH

# ======================================================================
# SIMULATION INFO SECTION
# ======================================================================

RUN_ID = TORLH_Cmod
RUN_COMMENT = CQL3D stand alone TORLH-CQL3D
TOKAMAK_ID = Cmod
SHOT_NUMBER = 12345
ENORM = 200.0

SIM_NAME = cql3d_SA

OUTPUT_PREFIX =
LOG_FILE = log.warning
LOG_LEVEL = WARN  # DEBUG | INFO | WARN | ERROR | CRITICAL

SIM_ROOT = $PWD
SIM_INPUT_DIR=$HOME/examples_input_data/CQL3D_Cmod_LH_example_torlh_ext

SIMULATION_MODE = NORMAL # NORML or RESTART
START_TIME = 0.0
#SIMULATION_MODE = RESTART # NORMAL or RESTART
RESTART_TIME = 0.0 # Float or LATEST
RESTART_ROOT = $SIM_ROOT

# ======================================================================
# PLASMA STATE SECTION
# ======================================================================

# Where to put plasma state files as the simulation evolves
STATE_WORK_DIR = $SIM_ROOT/work/plasma_state
ARCHIVE_STATE_ON_OUTPUT = TRUE

# Config variables defining simulation specific names for plasma state files
CURRENT_STATE = ips-state.nc
CURRENT_EQDSK = ips-eqdsk.geq
CURRENT_DQL = Dql_wdc.cdf
CURRENT_CQL = cql3d.nc
CURRENT_ImChizz_inp = ImChizz.inp
CURRENT_du0u0_input = du0u0_input

# List of files that constitute the plasma state
STATE_FILES = $CURRENT_STATE $CURRENT_EQDSK $CURRENT_DQL $CURRENT_CQL $CURRENT_ImChizz_inp $CURRENT_du0u0_input
ALL_STATE_FILES = $CURRENT_STATE $CURRENT_EQDSK $CURRENT_DQL $CURRENT_CQL $CURRENT_ImChizz_inp $CURRENT_du0u0_input

# ======================================================================
# PORTS SECTION
# ======================================================================

[PORTS]

    NAMES = INIT DRIVER FP MONITOR

    # Required ports - DRIVER and INIT

    [[INIT]]
        IMPLEMENTATION = generic_ps_init

    [[DRIVER]]
        IMPLEMENTATION = GENERIC_DRIVER

    # Physics ports

   [[FP]]
      IMPLEMENTATION = CQL3D

    # Monitor ports

    [[MONITOR]]
        IMPLEMENTATION = monitor_comp

# ======================================================================
# COMPONENT CONFIGURATION SECTION
# ======================================================================

[generic_ps_init]
    CLASS = generic_ps_init
    SUB_CLASS = dbb
    NAME = generic_ps_init
    NPROC = 1
    INIT_MODE = existing_ps_file
    BIN_PATH = $COMPONENTS_ROOT/initializers/generic_ps_init
    SCRIPT = $BIN_PATH/generic_ps_init.py
    INPUT_DIR = $SIM_INPUT_DIR/generic_ps_file_init_input
    INPUT_FILES = ips-state.nc eqdsk
    MDESCR_FILE =
    SCONFIG_FILE =
    INPUT_STATE_FILE = ips-state.nc
    INPUT_EQDSK_FILE = eqdsk

    OUTPUT_FILES = $CURRENT_STATE
    RESTART_FILES = $STATE_FILES
    STATE_FILES = $ALL_STATE_FILES

[GENERIC_DRIVER]
    CLASS = drivers
    SUB_CLASS = dbb
    NAME = generic_driver
    NPROC = 1
    INIT_ONLY = FALSE
    BIN_PATH = $COMPONENTS_ROOT/generic-drivers
    SCRIPT = $BIN_PATH/generic_driver.py
        INPUT_DIR =
        INPUT_FILES =
        OUTPUT_FILES =
        RESTART_FILES =
        STATE_FILES = $CURRENT_STATE

[CQL3D]
# Machine dependent config info
    BIN_PATH = $COMPONENTS_ROOT/ips-cql3d
    SCRIPT = $BIN_PATH/fp_cql3d_general.py
    CQL3D_BIN = $CQL3D_EXEC
# Static config info
    CLASS = fp
    SUB_CLASS =
    NAME = cql3d
    NPROC = 60
	CQL3D_MODE = el-only
	CQL3D_OUTPUT = LH
	CQL3D_NML = cqlinput_template
	NSTEPS_STR = 3
	DELTAT_STR = 0.005
	PS_ADD_NML = disabled
    INPUT_DIR = $SIM_INPUT_DIR/cql3d_input/
        INPUT_FILES = cqlinput_template grfont.dat ImChizz.inp_template du0u0_input
        STATE_FILES = $ALL_STATE_FILES
        OUTPUT_FILES =
        RESTART_FILES = $STATE_FILES

[monitor_comp]
# Machine dependent config info
    BIN_PATH = $COMPONENTS_ROOT/ips-monitor/
    SCRIPT = $BIN_PATH/monitor_comp.py
# Static config info
    CLASS = util
    SUB_CLASS =
    NAME = monitor
    NPROC = 1
    W3_DIR = $USER_W3_DIR
    W3_BASEURL = $USER_W3_BASEURL
    INPUT_DIR =
    INPUT_FILES =
    OUTPUT_FILES = monitor_file.nc $CURRENT_STATE
    STATE_FILES = $CURRENT_STATE
    RESTART_FILES = $INPUT_FILES monitor_restart monitor_file.nc

# =============================================================================
# TIMELOOP SECTION
# =============================================================================

[TIME_LOOP]
    MODE = REGULAR
    START = $START_TIME # Float or $RESTART_TIME
    FINISH = 1. # 3.5 # Float or $RESTART_TIME + float
    NSTEP = 1

# =============================================================================
# CHECKPOINT SECTION
# =============================================================================

[CHECKPOINT]
   MODE = PHYSTIME_REGULAR
   PHYSTIME_INTERVAL = 1.0
   NUM_CHECKPOINT = -1
