#!/bin/bash -l
#SBATCH --account=atom
# export IPS_PATH=$IPS_DIR/ips-framework

#########################
# Add the IPS to the PATH
#########################

# export PATH=$IPS_PATH/framework/src:$PATH

#####################
# Python module paths
#####################

# path to ips
# export PYTHONPATH=$IPS_PATH/framework/src:$IPS_PATH/framework/utils:$PYTHONPATH

# path to ABC_example modules
export PYTHONPATH=$PWD/_exec:$PWD/_exec/utils:$PYTHONPATH
#echo 'PYTHONPATH = ' $PYTHONPATH

